.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  